In [19]:
import numpy as np
import pandas as pd

In [57]:
sheets = ['investment measures','growth rates','working capital','discount rate','cashflow details','initial investment']

In [58]:
df = pd.read_excel(r"C:\Users\user\Downloads\capbudg_new.xlsx",sheet_name=sheets)

In [63]:
df['cashflow details'] = df['cashflow details'].drop('Column1', axis=1)

In [64]:
df['cashflow details']

             CASHFLOW DETAILS  Column2
0        Revenues in  year 1=  40000.0
1  Var. Expenses as % of Rev=      0.5
2   Fixed expenses in year 1=      0.0
3     Tax rate on net income=      0.4

In [67]:
df['discount rate'] = df['discount rate'].drop('Column1',axis=1)

In [71]:
df['working capital']

                    WORKING CAPITAL  Column1   Column2
0  Initial Investment in Work. Cap=      NaN  10000.00
1      Working Capital as % of Rev=      NaN      0.25
2      Salvageable fraction at end=      NaN      1.00

In [81]:
def read_file(df):
    df = pd.read_excel(df)
    for i in df.keys():
        df = pd.read_excel(df,sheet_name=i)
        df[i] = df[i].drop('Column1',axis=1)
        return df

In [128]:
def load_file(df):
    df = pd.read_excel(df,sheet_name=sheets)
    for i in df.keys():
        df[i] = df[i].drop('Column1',axis=1)
    return df

In [129]:
data = load_file(r"C:\Users\user\Downloads\capbudg_new.xlsx")

In [130]:
data['cashflow details']

             CASHFLOW DETAILS  Column2
0        Revenues in  year 1=  40000.0
1  Var. Expenses as % of Rev=      0.5
2   Fixed expenses in year 1=      0.0
3     Tax rate on net income=      0.4

In [99]:
data['discount rate']

                DISCOUNT RATE  Column2
0  Approach(1:Direct;2:CAPM)=    2.000
1          1. Discount rate =    0.100
2                    2a. Beta    0.900
3           b. Riskless rate=    0.080
4    c. Market risk premium =    0.055
5             d. Debt Ratio =    0.300
6      e. Cost of Borrowing =    0.090

In [100]:
data.keys()

dict_keys(['investment measures', 'growth rates', 'working capital', 'discount rate', 'cashflow details', 'initial investment'])

In [102]:
data['discount rate']

                DISCOUNT RATE  Column2
0  Approach(1:Direct;2:CAPM)=    2.000
1          1. Discount rate =    0.100
2                    2a. Beta    0.900
3           b. Riskless rate=    0.080
4    c. Market risk premium =    0.055
5             d. Debt Ratio =    0.300
6      e. Cost of Borrowing =    0.090

In [119]:
print(f"tables: {list(data.keys())}")

tables: ['investment measures', 'growth rates', 'working capital', 'discount rate', 'cashflow details', 'initial investment']

In [117]:
list(data.keys())

['investment measures',
 'growth rates',
 'working capital',
 'discount rate',
 'cashflow details',
 'initial investment']

In [132]:
data['cashflow details']['CASHFLOW DETAILS']

0          Revenues in  year 1=
1    Var. Expenses as % of Rev=
2     Fixed expenses in year 1=
3       Tax rate on net income=
Name: CASHFLOW DETAILS, dtype: object

In [ ]:
def get_rows(data):
    data[data.]

In [144]:
list(data.keys())

['investment measures',
 'growth rates',
 'working capital',
 'discount rate',
 'cashflow details',
 'initial investment']

In [187]:
table_list = list(data.keys())

In [228]:
def fetch_data(data):
    for i in table_list:
        get_rows = data[i][i.upper()].iloc[:]
        return get_rows

In [230]:
def fetch_data(data, table_list):
    result = {}
    for i in table_list:
        column_name = i.upper()
        df = data[i]

        # Check if the uppercase column exists
        if column_name in df.columns:
            result[i] = df[column_name].iloc[:]
        else:
            result[i] = f"Column '{column_name}' not found in table '{i}'"
    
    return result

In [231]:
fetch_data(data,table_list)

{'investment measures': "Column 'INVESTMENT MEASURES' not found in table 'investment measures'",
 'growth rates': 0          Revenues
 1    Fixed Expenses
 Name: GROWTH RATES, dtype: object,
 'working capital': 0    Initial Investment in Work. Cap=
 1        Working Capital as % of Rev=
 2        Salvageable fraction at end=
 Name: WORKING CAPITAL, dtype: object,
 'discount rate': 0    Approach(1:Direct;2:CAPM)=
 1            1. Discount rate =
 2                      2a. Beta
 3             b. Riskless rate=
 4      c. Market risk premium =
 5               d. Debt Ratio =
 6        e. Cost of Borrowing =
 Name: DISCOUNT RATE, dtype: object,
 'cashflow details': 0          Revenues in  year 1=
 1    Var. Expenses as % of Rev=
 2     Fixed expenses in year 1=
 3       Tax rate on net income=
 Name: CASHFLOW DETAILS, dtype: object,
 'initial investment': 0                 Initial Investment=
 1          Opportunity cost (if any)=
 2          Lifetime of the investment
 3    Salvage Value at end of project=
 4    Deprec. method(1:St.line;2:DDB)=
 5               Tax Credit (if any )=
 6     Other invest.(non-depreciable)=
 Name: INITIAL INVESTMENT, dtype: object}

In [271]:
def fetch_data(data, table_name: str):
    column_name = table_name.upper()

    if table_name not in data:
        return f"Table '{table_name}' not found."

    df = data[table_name]

    if column_name not in df.columns:
        return f"Column '{column_name}' not found in table '{table_name}'."
    print(f"table_name: {df.columns[0]}")
    print(f"row_names: {df[column_name].iloc[:]}",end=',')

In [272]:
fetch_data(data,'cashflow details')

table_name: CASHFLOW DETAILS

0          Revenues in  year 1=
1    Var. Expenses as % of Rev=
2     Fixed expenses in year 1=
3       Tax rate on net income=
Name: CASHFLOW DETAILS, dtype: object

In [239]:
list(data.keys())[0]

'investment measures'

In [244]:

def fetch_data(data, table_name : get):
    column_name = table_name.upper()

    if table_name not in data:
        return f"Table '{table_name}' not found."

    df = data[table_name]

    if column_name not in df.columns:
        return f"Column '{column_name}' not found in table '{table_name}'."

    return df[column_name].iloc[:]

In [249]:
table = int(input())
get = list(data.keys())[table]
fetch_data(data,get)

 1

0          Revenues
1    Fixed Expenses
Name: GROWTH RATES, dtype: object